.cform {
  max-width: 600px; /* Limitar el ancho máximo del formulario */
  margin: auto; /* Centrar el formulario horizontalmente */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-control,
.form-select {
  font-size: 14px; /* Tamaño de fuente más pequeño */
  padding: 10px; /* Ajustar el padding para hacer los campos más compactos */
  margin-bottom: 10px; /* Espaciado entre campos */
}

h4 {
  font-size: 18px; /* Tamaño de fuente del título */
  margin-bottom: 20px; /* Espaciado inferior del título */
}

.btn {
  padding: 8px 15px; /* Ajustar el tamaño del botón */
  font-size: 14px; /* Tamaño de fuente del botón */
}

.btn-activar {
  background-color: #28a745; // Color verde para activar
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #218838; // Color más oscuro al pasar el mouse
    transform: scale(1.05); // Aumentar el tamaño al hacer hover
  }

  &:focus {
    outline: none; // Quitar el borde al enfocar
  }
}

.btn-desactivar {
  background-color: #dc3545; // Color rojo para desactivar
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #c82333; // Color más oscuro al pasar el mouse
    transform: scale(1.05); // Aumentar el tamaño al hacer hover
  }

  &:focus {
    outline: none; // Quitar el borde al enfocar
  }
}
